%h2= @article.title

%h2 Comments 

%table
    %thead
        %tr
            %th Comment Body
            %th Action

    %tbody
        - @comments.each do |comment| 
            %tr
                %td= comment.body
               
