<h1> Hello index page! </h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
        </tr>
    </thead>

    <tbody>
    <% @articles.each do |article| %>
        <tr>
            <td>
                <%= article.title %>
            </td>
            <td>
                <%= article.content %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>